<html>
	<head>
		<tittle>Django DAW blog<tittle>
	</head>
	<body>
		<div>
			<h1><a href="">Django Daw Blog</a></h1>
		</div>

		<div>
			<p>published: 22.10.2018, 9:16</p>
			<h2><a href="">My firts post</a></h2>
			<p>Aenean eu leo quam. pellentesque ornare sem lacinia quam venenatis vestibulum. donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus commodo, tortor mauris condimentum nibh, ut fermentun massa justo sit amet risus.</p>
		</div>

		<div>
			<p>publisehd> 22.10.2018, 9:21</p>
			<h2><a href="">My second post</a></h2>
			<p>Aenean eu leo quam. pellentesque ornare sem lacinia quam venenatis vestibulum. donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus commodo, tortor mauris condimentum nibh, ut f.</p>
		</div>
	</body>
</html>
